/* 
=============
Index
=============
QR Code line 13

Main text line 24

Attribution line 36

*/

/*
=============
QR Code
=============
*/

.qrcode {
    height: 300px;
    width: 300px;
    border-radius: 20px;
}

/*
=============
Background
=============
*/

body {
    background: hsl(212, 45%, 89%);
}

/*
=============
Main Text
=============
*/

body {
    font-family: "Outfit";
    font-size: 15px;
    width: 1440px;
}

.qrtitle {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.sub {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.box {
    text-align: center;
}

/*
=============
Main
=============
*/

.box {
    width: 320px;
    height: max-content;
    background-color: hsl(0, 0%, 100%);
    margin-left: 545px;
    margin-top: 30px;
    padding: 25px 15px 5px 15px;
    border-radius: 20px;
}

/*
=============
Attribution
=============
*/

.attribution {
    font-family: "Outfit";
    font-size: 11px;
    font-weight: 200;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

